.header  {
  padding: 1em;
  height: 120px;
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-background);
  color: var(--header-text);
}

.header svg {
  position: absolute;
  top: 119px;
  left: 0;
}

.header > div > a {
  z-index: 2;
}

.appName {
  text-align: center;
}

.icon {
  z-index: 2;
  width: 35px;
  height: 35px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.icon:hover {
  opacity: 1;
}

@media screen and (min-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

