.itemContainer {
  padding: 1em;
  margin: 10px auto;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
 }
 
 .itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  position: relative;
}

.storeName {
  max-width: 150px;
  text-align: center;
  color: #fff;
  order: 1;
  border-radius: 10px;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  top: 15px;
  left: -10px;
  transform: rotate(-30deg);
  font-size: 0.7rem;
}
 
.itemName, .itemPrice {
  text-align: center;
 }

 .walmart {
  background-color: var(--blue);
}

.saveOnFoods {
  background-color: var(--green);
}

.itemImage {
  order: 3;
  max-width: 150px;
  grid-area: itemImage;
 }
 
.itemPrice {
  order: 2;
  color: var(--red);
  font-weight: 500;
}

.itemName {
  order: 4;
  min-width: 200px;
}

.itemDesc {
  display: none;
  grid-area: itemDesc;
}

 @media screen and (min-width: 800px) {
 
  .itemCard {
    display: grid;
    grid-template-areas: 
    'storeName itemName'
    'itemImage itemPrice'
    'itemImage itemPrice'
    'itemDesc itemDesc';
    grid-gap: 20px;
    line-height: normal;
    width: 80%;
  }

  .itemName, .itemPrice {
    text-align: right;
   }
   
   .storeName {
     position: static;
     transform: none;
     font-size: 1rem;
   }

   .walmart {
     grid-area: storeName;
   }
   
   .saveOnFoods {
     grid-area: storeName;
   }
   
   .itemImage {
    grid-area: itemImage;
   }
   
   .itemName {
     grid-area: itemName;
   }
   
   .itemPrice {
     grid-area: itemPrice;
   }
   
  .itemDesc {
    display: block;
  }

}