.loginSection {
  margin: 10rem 4rem 2rem;
  border: 1px solid var(--pale-white);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
}

.loginSection > p {
  text-align: center;
}

.googleBtn {
  display: inline-block;
  border: 1px solid black;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
  transition: all 0.3 linear;
}

.googleBtn:hover {
  background-color: var(--red);
  color: white;
  border: none;
}

@media screen and (min-width: 800px) {

  .loginSection {
    width: 50%;
    margin: auto;
    margin-top: 20rem;
  }

}