:root {
  --green: #48C773;
  --blue: #3273DC;
  --red: red;
  --pale-white: #F2F1D9;
}

body {
  min-height: 100vh;
  width: 100%;
}

.header  {
  margin: 20px auto 10px auto;
}

.search-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


