

:root {
  --green: #48C773;
  --blue: #3273DC;
  --red: red;
  --orange: orange;
  --pale-white: #F2F1D9;
  --bg-accent: #484a4d;
  --primary: #F28A30;
  --header-text: #EBF2EA;
  --header-background: #0ABDA0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.loading {
  margin: 0 auto;
  height: 100px;
  margin-top: 200px;
}
