.searchContainer {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchInput {
  width: 80%;
}

.searchLabel {
  padding-right: 1rem;
  font-size: 1rem;
  color: var(--header-text);
  font-weight: 500;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: tomato;
}


@media screen and (min-width: 800px) {

  .searchContainer {
    max-width: 70%;
  }
}